
  
@font-face {
    font-family:MontserratBolt ;

    src:  url('../../assets/fontFamily/Montserrat/static/Montserrat-ExtraBold.ttf');
  }
  @font-face {
    font-family:Montserrat ;

    src:  url('../../assets/fontFamily/Montserrat/Montserrat-VariableFont_wght.ttf');
  }